// customize some Bootstrap variables
$primary: #fc766a;
$secondary : rgb(88, 141, 158);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";


body h1 {
color: $secondary;
}